@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Noto+Serif+TC:wght@700&display=swap');

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/CormorantInfant-Regular.ttf') format("truetype"),
      url('../fonts/Lato-Regular.ttf') format("truetype"),
}


body {
  font-family: 'CormorantInfant-Regular', 'Lato-Regular', 'Noto Sans TC', 'Microsoft JhengHei', 'PingFangTC', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a {
  color: #3f3f4d;
}

a:hover {
  color: #a18d82;
}

ul {
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

.animated {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a:focus,
a:hover {
  text-decoration: none;
}

a,
a:hover {
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.editor {
  font-size: 15px;
  line-height: 2.5;
}

.index .bread-crumbs {
  opacity: 0;
  margin: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}
/*標題*/
.page-title .main {
  font-family: 'CormorantInfant-Regular', 'Lato-Regular';
  font-size: 12px;
  color: #3f3f4d;
  font-weight: 300;
  display: block;
  letter-spacing: 5px;
}

.page-title .second {
  font-size: 45px;
  color: #3f3f4d;
  display: block;
  margin-top: 10px;
}
/*//標題*/


/*index*/
.index_prd {
  background-color: #fff;
}

.index_prd .product_list {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.index_prd .cover {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(161,	120,	81, 0.38);
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 3.5;
}

.index_prd .title {
  position: relative;
  font-size: 26px;
  letter-spacing: 5px;
}

.index_prd .title::before {
  position: absolute;
  content: '';
  left: 35%;
  bottom: 0;
  width: 16px;
  height: 1px;
  background-color: #fff;
}

.index_prd .cover img {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.index_prd .slick-slide {
  margin: 15px;
}

.index_gallery .slick-slide {
  margin: 40px;
}

.index_prd .slick-slide a:hover,
.index_gallery .slick-slide a:hover {
  opacity: .8;
}

.index_gallery .slick-slide img {
  border-radius: 20px;
}

.more{
  font-size: 16px;
  display: block;
  width: 10em;
  margin: 0 auto;
  color: #c5977e;
  cursor: pointer;
  text-align: center;
}

.more:hover{
  opacity: .8;
}

.index_about{
  color: #3f3f4d;
  font-size: 22px;
}

.index_about .title {
  font-size: 22px;
  font-weight: bold;
}

.index_about .second_title {
  font-size: 14px;
  color: #8e8e9b;
}
.index_about .info {
  font-size: 15px;
}

.index_about .img{
  border-radius: 20px;
}

.index_gallery,.index_newlife{
  background-color: #f7f5f2;
}

.index_gallery .img{
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.index_newlife .editor {
  line-height: 4.5;
}

.newlife-img {
  min-height: 70vh;
}

.newlife-img .img {
  border-radius: 20px;
}

.newlife-img .img:first-child {
  margin-right: 30px;
}

/*//index*/
/*footer*/
.footer {
  font-size: 14px;
  color: #fff;
  background-color: #a18d82;
  padding: 50px 0;
}
footer .title {
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.footer a {
  color: #fff;
  padding-bottom: 3px;
}

.footer a:hover {
  color: #3f3f4d;
}
.share_icon:hover a img {
  opacity: 0.5;
}

.share_icon>a:hover img {
  opacity: 1;
}

.footer .share_icon {
  display: flex;
}

.footer .share_icon a:first-child {
  margin-right: 15px;
}
/*//footer*/
@media only screen and (min-width: 1200px) {
  .mobile {
    display: none;
  }
  .container {
    max-width: 1220px;
  }
  /*menu*/
  .overlapblackbg {
    display: none;
  }

  .wsmenu {
    display: none;
  }

  .megamenu .wsmenu-click {
    display: none;
  }

  .wsmenu-list>li>a {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .wsmenu-list>li>a .wsmenu-click {
    float: right;
    margin: 0 -12px 0 0px;
  }

  .wsmenu-list>li>.wsmenu-click {
    display: none;
  }

  .header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 5;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .scroll .header {
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .row_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    margin: 0 auto;
    padding: 50px 0 30px;
  }

  .scroll .row_top {
    height: 100px;
  }

  .menu_top_left {
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .menu_top_left>div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scroll .menu_top_left img {
    max-height: 75px;
  }

  .scroll .logo {
    transform: scale(0.9, 0.9);
  }
  /*//menu*/
  /*footer-fixed*/
  #right-fixed {
    position: fixed;
    width: 55px;
    text-align: center;
    right: 15px;
    bottom: 10%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  /*//footer-fixed*/
}

/*===============================================================================================
    -mobile
===============================================================================================*/
@media only screen and (max-width: 1199px) {
  body {
    padding: 100px 0 40px;
  }

  .pc {
    display: none;
  }
  /*menu*/
  .overlapblackbg {
    display: none;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
  }

  .overlapblackbg.menuopen {
    display: block;
  }

  .wsmenu .wsmenu-list {
    opacity: 0;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 0px;
  }

  .wsmenu .wsmenu-list>li {
    width: 100%;
    padding: 0;
    text-align: center;
    display: block;
    float: none;
    border-right: none;
    background-color: transparent;
    position: relative;
    white-space: inherit;
    border-bottom: 1px solid #ddd;
  }

  .wsmenu>.wsmenu-list>li>a {
    padding: 16px;
    font-size: .7rem;
    text-align: center;
    color: #3f3f4d;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.13);
    display: block;
    letter-spacing: 1px;
  }

  .wsmenu>.wsmenu-list>li>a:hover {
    color: #a18d82;
    background-color: #f7f5f2;
  }

  .wsmenu {
    width: 0px;
    height: 100%;
    position: fixed;
    right: -240px;
    top: 0px;
    margin: 0;
    background-color: #fff;
    z-index: 100;
    padding: 40px 40px 60px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }

  .wsmenu.menuopen {
    width: 100%;
    overflow-y: auto;
    right: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 1;
  }

  .wsmenu.menuclose {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
  }

  .wsmenu.menuopen .wsmenu-list {
    opacity: 1;
  }

  .wsmenu.menuclose .wsmenu-list {
    opacity: 0;
  }

  .wsmenucontent {
    z-index: 1;
  }

  .animated-arrow.menuopen {
    right: 80%;
    margin: 12px 20px;
  }

  .animated-arrow {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 200;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .animated-arrow {
    cursor: pointer;
    padding: 30px;
  }

  .animated-arrow span,
  .animated-arrow span:before,
  .animated-arrow span:after {
    cursor: pointer;
    height: 3px;
    width: 25px;
    background: #a18d82;
    position: absolute;
    display: block;
    content: '';
  }

  .animated-arrow.menuopen span:before,
  .animated-arrow.menuopen span:after {
    background: #3f3f4d;
  }

  .animated-arrow span:before {
    top: -7px;
  }

  .animated-arrow span:after {
    bottom: -7px;
  }

  .animated-arrow span,
  .animated-arrow span:before,
  .animated-arrow span:after {
    transition: all 500ms ease-in-out;
  }

  .animated-arrow.menuopen span {
    background-color: transparent;
  }

  .animated-arrow.menuopen span:before,
  .animated-arrow.active span:after {
    top: 7px;
  }

  .animated-arrow.menuopen span:before {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 0px;
  }

  .animated-arrow.menuopen span:after {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 7;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .newlife-img {
    min-height: 100%;
  }

  .row_top {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  a.logo img {
    max-height: 50px;
    width: auto;
  }

  #close {
    position: absolute;
    right: 0px;
    top: 10px;
  }

  .overlapblackbg.menuopen #close {
    position: absolute;
    right: 250px;
    top: 10px;
  }

  .menu_top_left {
    display: flex;
    align-items: center;
  }

  /*//menu*/
  /*footer*/
  .footer {
    text-align: center;
  }

  .footer ul li {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .footer .share_icon a {
    margin-right: 5px;
  }

  .share_icon:hover a img {
    opacity: 0.5;
  }
  .share_icon>a:hover img {
    opacity: 1;
  }
  /*//footer*/
  /*fixed-bottom_n*/
  #fixed-bottom_n {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: #ffede4;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #fixed-bottom_n .fixed-box div{
    text-align: center;
    padding: 8px 2px;
  }
  #fixed-bottom_n .fixed-box div:not(:last-child){
    border-right: 2px solid #fff;
  }
  #fixed-bottom_n .fixed-box div a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
  }
  #fixed-bottom_n .fixed-box div a:hover{
    background: #fff;
  }
  /*//fixed-bottom_n*/
}

@media only screen and (max-width: 767px) {
  .page-title .main{
    font-size: 14px;
  }
  .page-title .second{
    font-size: 30px;
  }
  .index_prd .title {
    font-size: 20px;
  }
  .index_prd .info {
    font-size: 16px;
  }
  .index_prd .cover img {
    display: none;
  }
  a.logo img.main_logo {
    width: 100px;
  }
  .footer .copy-right {
    margin-bottom: 35px;
  }
  
}